<link rel="stylesheet" href="../../css/cartStyle.css" >

<div class="container text-center">
    <div class="row">
<!--
        <div class="col-md-12_cart">
            <p class="cart">עגלת הקניות שלי</p>
        </div>
-->
    </div>

    <br><br>
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th><center>שם משתמש</center></th>
                <th><center>פרטי המשתמש</center></th>
            </tr>
        </thead>
        <tbody>
            <% for (var user of users) { %>
                <tr>
                    <td><%= user.local.username %></td>
                    <td><h5><%= user.local.email %></h5><br\><h5><%= user.local.telephone %></h5></td>
<!--
                    <td>
                        <a href="/deleteUser/<!--%= user.local.username %>/delete" class="btn btn-sm btn-danger">מחיקה</a>
                    </td>
-->
                </tr>
            <% } %>
        </tbody>
    </table>
</div>
