<div class="row text-right">
    <h2>הוספת מוצר חדש</h2>
</div>

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <% if (errors.length > 0) { %>
            <div class="alert alert-danger">
                <% for (error of errors) { %>
                    <%= error %><br>
                <% } %>
            </div>
        <% } %>
        
        <form action="/addNewProduct" method="POST">
            <div class="form-group">
                <label>הזן שם מוצר</label>
                <br/>
                <input id="name" type="text" name="name" class="form-control" required="required">
            </div>
            
            <div class="form-group">
                <label>הזן מספר סידורי למוצר</label>
                <br/>
                <h6>המספר הסידורי של המוצר זהה למספר התמונה שמעלים ל-DB</h6>
                <input id="serialNumber" type="number" name="serialNumber" class="form-control" >
            </div>
            
            <div class="form-group">
                <label>הזן מחיר למוצר</label>
                <input id="price" type="text" name="price" class="form-control">
            </div>
            
            <div class="form-group">
                <label>הזן תיאור למוצר</label>
                <textarea id="description" name="description" rows="5" class="form-control"></textarea>
            </div>
                
            <div class="form-group">
                <label for="category">קטגוריית המוצר</label>
                <select id="category" name="category" class="form-control" required="required">
                    <option value="chosse" selected="">בחר:</option>
                    <option value="medical product">ציוד רפואי</option>
                    <option value="medical furniture">ריהוט רפואי</option>
                    <option value="medical equipment">מכשור רפואי</option>
                    <option value="first aid kits">ערכות עזרה ראשונה</option>
                    <option value="equipment cpr">ציוד החייאה ועזרה ראשונה</option>
                    <option value="trainingand equipment">ציוד הדרכה וסימולציה</option>
                </select>
            </div>
            
            <div class="form-group">
                <label for="recommended">האם המוצר מומלץ?</label>
                <br/>
                <h6 for="recommended">הגדרת מוצר כמומלץ תציג את המוצר בדף הבית של האתר</h6>
                <select id="recommended" name="recommended" class="form-control" required="required">
                    <option value="chosse" selected="">בחר:</option>
                    <option value="yes">כן</option>
                    <option value="no">לא</option>
                </select>
            </div>
            
            <div class="form-group">
                <label for="stockpile">האם המוצר במלאי?</label>
                <select id="stockpile" name="stockpile" class="form-control" required="required">
                    <option value="chosse" selected="">בחר:</option>
                    <option value="yes">כן</option>
                    <option value="no">לא</option>
                </select>
            </div>
            
            <div class="form-group">
                <label>הזן כמות במלאי</label>
                <input id="amount" type="number" name="amount" class="form-control">
            </div> 

            <div class="form-group">
                <button type="submit" class="btn btn-success btn-md">צור מוצר חדש</button>
                <a href="/main_admin" class="btn btn-md btn-danger">בחזרה לתפריט</a>
            </div>
        </form>
    </div>
</div>