<link rel="stylesheet" href="../../admin/css/admin_loginStyle.css">
<div class="jumbotron text-center">
    <h1 id="login_h1">התחברות</h1>
</div>

<div class="row">
    <div class="col-sm-6">  
        <form action="/adminlogin" method="POST" id="login-form">
            <div class="form-group">
                <label>שם משתמש</label>
                <input type="email" name="email" class="form-control" id="email", placeholder="הכנס מייל">
            </div>
            <div class="form-group">
                <label>סיסמא</label>
                <input type="password" name="password" class="form-control" id="password", placeholder="הכנס סיסמא">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">התחבר</button>
            </div>
        </form>
    </div>
</div>



    