<div class="row text-right">
    <div class="jumbotron">
        <h2>שלום, <%= username %></h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">  
        <h3>הינך מחובר כעת לפאנל הניהול של המערכת</h3>
        <br/>
        <h3></h3>
    </div>
</div>



    