<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>יוסי עמר</title>
        <link rel="icon" type="image/gif" href="../../logo.png" />

         <!-- css -->
        <link rel="stylesheet" href="../../css/bootstrap.css">
        <link rel="stylesheet" href="../../css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">                
        <link rel="stylesheet" href="../../admin/css/adminStyle.css">
    </head>

    <body>
        <!-- header -->
        <header id="admin-header">
            <div class="container">
                <div class="navbar navbar-inverse">
                    <div class="row">
                        <div class="navbar-header">
                             <img src="/../../logo.png" alt="logo" class="img-responsive">
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- main -->
        <main id="admin-main">
            <div class="container">
                <div class="col-md-9">
                    <div class="jumbotron text-center">
                        <div class="container">
                           <%- body %>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <%- sidebar %>
                </div>
            <!-- /#sidebar-wrapper -->
            </div>    
        </main>

        <script src="../../js/jquery.min.js"></script>
        <script src="../../js/bootstrap.min.js"></script> 
       
    </body>
</html>