@media screen and (min-width:1500px) and (max-width:2000px) {
    body {font-size:20px;}
    h2 {font-size:45px;}
}

@media screen and (min-width:1000px) and (max-width:1500px) {
   body{font-size:18px;}
    h2 {font-size:35px;}
}

@media screen and (min-width: 568px) and (max-width:1000px) {
   body{font-size:16px;}
    h2 {font-size:25px;}
}

@media screen and (min-width: 235px) and (max-width: 568px) {
    body {font-size:12px;}
    h2 {font-size:15px;}
}

.imgt {
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
}

#myInput {
    background-image: url('/../../search.gif');
    background-position: 10px 12px; 
    background-repeat: no-repeat; 
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px; 
    border: 1px solid #ddd; 
    margin-bottom: 12px;  
    
}

/*
#th1{
    width: 200px;
}

#th2{
    width: 150px;
}

#th3{
    width: 60px;
}

#th4{
    width: 120px;
}

td{
    width: 5010%;
}
*/

#th1{
    width: 10%px;
}

#th2{
    width: 10%;
}

#th3{
    width: 8%;
}

#th4{
    width: 8%;
}

td{
    width: 5%;
}

.col-md-12_cart{
    padding: 0;
}

.col-md-6-category{
    float: left;
}

.col-md-6-category{
    float: right;
}

.col-md-9-category{
    float: right;
}

.form-control{
    border: 0px;
    border-radius: 0px;
/*    margin-left:20px;*/
}

.btn{
    border: 0px;
    border-radius: 0px;
}

.btn-primary{
    background-color: #244b6b; 
}

/*
.col-md-9-search{
   float: right; 
}
*/

table{
    width: 50%;
}