#login_h1{
    color: #244b6b; 
}


.form-control{
    border-radius: 0px;
}


.btn{
    border:0px;
    border-radius: 0px;
    background-color: #d1585d;
    color:aliceblue;
    font-size: 15px;
    float: left;
}
