<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>יוסי עמר|הדרך להציל חיים</title>

        <!-- css -->
        <link rel="stylesheet" href="../../css/bootstrap.css">
        <link rel="stylesheet" href="../../css/bootstrap.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arimo">        
        <link rel="stylesheet" href="../../css/style.css">
        <!--link rel="stylesheet" href="../../css/accessibility-buttons.css">
        <link rel="stylesheet" href="../../css/accessibility-buttons.min.css"-->
   
    </head>

    <body> 
        <!--div id="top"></div-->
        
        <div class="col-md-12_index">
            <div class="row">
                <div class="col-md-2" style="float:left;">
                    <!--user status - signup- username-->
                    <%- userstat_su_un %> 
                    <!--user status - signin- signout-->
                    <%- userstat_si_so %>   
                </div>
                <div class="col-md-9">
                    <p>שירות לקוחות: 02-9404444</p>
                </div>
                <div class="col-md-1">
                        <a href="login_admin"><img src="/../../user.png" class="img-responsive-2"  alt="user_image" ></a>
                </div>
            </div>
        </div>
        
        <div class="brand">
            <a href="/"><img src="/../../logo.png" class="img-responsive" alt="logo_image"></a>
        </div>

        <!-- header -->
        <div class="nav1">
            <div class="navbar navbar-default" role="navigation" data-offset-top="0">
<!--                <div class="container">-->
                    <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myCollapseGuy">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                            <div class="navbar-collapse collapse" id="myCollapseGuy">
                                <ul class="nav navbar-right" >
                                    <li class="active"><a href="/">ראשי</a></li>
                                    <li><a href ="/about">אודות</a></li>
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown"  role="button" aria-haspopup="true" aria-expanded="true"> קורסים והדרכות <span class="caret"></span></a>
                                        <ul class="dropdown-menu multi-level" role="menu">
                                            <li class="dropdown dropdown-submenu">
                                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"> קורסים לקהל הרחב <span class="caret"></span></a>
                                                    <ul class="dropdown-menu">  
                                                        <li class="dropdown-subsub"><a href="/4hCourse">קורס עזרה ראשונה 4 שעות</a></li>
                                                        <li class="dropdown-subsub"><a href="/8hCourse">קורס עזרה ראשונה 8 שעות</a></li>
                                                        <li class="dropdown-subsub"><a href="/22hCourse">קורס עזרה ראשונה 22 שעות</a></li>
                                                        <li class="dropdown-subsub"><a href="/28hCourse">קורס עזרה ראשונה 28 שעות</a></li>
                                                        <li class="dropdown-subsub"><a href="/44hCourse">קורס עזרה ראשונה 44 שעות</a></li>
                                                        <li class="dropdown-subsub"><a href="/60hCourse">קורס עזרה ראשונה 60 שעות</a></li>
                                                        <li class="dropdown-subsub"><a href="/4hBabyCourse">קורס מע"ר בפעוטות 4 שעות</a></li>
                                                    </ul>
                                            </li>
                                            <li class="dropdown dropdown-submenu">
                                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"> קורסים לצוותים רפואיים <span class="caret"></span></a>
                                                     <ul class="dropdown-menu">
                                                        <li class="dropdown-subsub"><a href="/paramedicCourse">קורס חובש/ נהג אמבולנס</a></li>
                                                        <li class="dropdown-subsub"><a href="/medicalTeamsCourse">הכשרות לצוותי רפואה</a></li>
                                                    </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"> ציוד רפואי <span class="caret"></span></a>
                                        <ul class="dropdown-menu" >
                                            <li class="dropdown-subsub"><a href="/medicalEquipment">מכשור רפואי</a></li>
                                            <li class="dropdown-subsub"><a href="/equipmentCPRFirstAid">ציוד החיאה ועזרה ראשונה</a></li>
                                            <li class="dropdown-subsub"><a href="/firstAidKits">ערכות עזרה ראשונה</a></li>
                                            <li class="dropdown-subsub"><a href="/medicalProduct">ציוד רפואי</a></li>
                                            <li class="dropdown-subsub"><a href="/medicalFurniture">ריהוט רפואי</a></li>
                                            <li class="dropdown-subsub"><a href="/trainingandSimulationEquipment">ציוד הדרכה וסימולציה</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"> אישורים והמלצות <span class="caret"></span></a>
                                        <ul class="dropdown-menu" >
                                            <li class="dropdown-subsub"><a href="/approvals">אישורים</a></li>
                                            <li class="dropdown-subsub"><a href="/recommendation">המלצות</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/onlineCourse">קורס מתוקשב</a></li>
                                    <li><a href="/contact">צור קשר</a></li>
                                    <li><a href="/cart">סל קניות</a></li>
                                    <li>
                                        <!--search with out site-->
                                           <!--<iframe style="width:375px; height:35px; margin:5px;" frameborder=0 allowtransparency=yes scrolling=no src="//search.digitalpoint.com/iframe.php?site=yosiamar.azurewebsites.net&b=1&l=1&y=1"></iframe>-->

                                            <!--code-->
                                            <!--form method=GET id="find" name="find" action="http://www.google.com/search">
                                            <table bgcolor="ffffff"><tr>
                                                <td width="60%">
                                                    <a href="http://www.google.com/">
                                                    <img src="./images/google.gif" alt="Google" align="absmiddle" border="0"></a>
                                                    <input type="text" name="q" id="q" size=31 maxlength=255 value="site:www.freewebspaces.bguphys" lang="he" dir="rtl">
                                                    <input type="hidden" name="hl" value="he" dir="rtl" lang="he">
                                                    <input type="hidden" name="oe" value="utf-8">
                                                    <input type="hidden" name="ie" value="utf-8">
                                                    <input type="submit" name="btnG" value="Google Search" lang="he" dir="rtl">
                                                </td>
                                            </tr></table>
                                            </form-->
                                    </li>
                                </ul>
                       
                            </div><!--/.nav-collapse -->
                        <!--</div>-->
                </div>
            </div>
        </div>
        
        <!-- main -->
        <main id="site-main">
            
             <!--div>
                <button type="button" aria-label="Increase Font" id="accessibility-font" class="js-acessibility">+A</button>
                <button type="button" aria-label="Add Contrast" id="accessibility-contrast" class="js-acessibility">Add Contrast</button>
            </div-->
            
            <div class="container">
                <%- body %>
            </div>
            <a href="#0" class="cd-top">Top</a>
        </main>

        <!-- fotter -->
        <footer id="site-footer">
            <form>
                <h4>יוסי עמר</h4>
                <h5>אהבת ישראל 44 תל ציון מ. 9062200
                    <br>טל: 052-7766660
                    <br>פקס: 052-7766660
                </h5>
                <h5>דוא"ל: <a href="mailto:yosiamarya@gmail.com?%20again">yosiamarya@gmail.com</a></h5>
            </form>
        </footer>
        
       <script src="../../js/jquery.min.js"></script>
       <script src="../../js/bootstrap.min.js"></script>
       <script src="../../js/layout.js"></script>
       <!--script src="../../js/accessibility-buttons.js"></script>
       <script src="../../js/accessibility-buttons.min.js"></script>
       <script src="../../js/scripts.js"></script>
       <script src="../../js/scripts.min.js"></script-->


       
    </body>
</html>