.center{
  width: 80%;
  margin-right:10%;
  margin-left: 10%;
}

.col-md-12_contact{
    display: block;
    background-color: #244b6b;
    height: 150px;
    width: 100%;
    padding: 0;
    border-radius: 0px;
}

.contact {
    position: relative;
    left: 0;
    top:30%;
    width: 100%;
    text-align: center;
    font-size: 40px;
    color:white;
}

.btn{
    border-color:darkgray;
    border-radius: 0px;
    background-color: #d1585d;
    color:aliceblue;
    font-size: 15px;
}

.form-control, input-group-addon{
    border-radius: 0px;
}

#customers_h2{
    color: #244b6b; 
}

.col-sm-12-image{
    background: #eaeef1;
    width: inherit;
}

.img-responsive2{
    max-width: 100%;
    max-height: 100%;
    height: auto;
    display:block;
    margin: 0;
}
