@media screen and (max-width:2000px) {
    .p_text {
        font-size:24px;
    }
}

@media screen and (max-width:1500px) {
    .p_text {
        font-size:12px;
    }
}

@media screen and (max-width:1000px) {
    .p_text {
        font-size:8px;
    }
}

@media only screen and (max-width: 700px){
    .img-responsive1 {
        width: 49.99999%;
        margin: 6px 0;

    }
    .modal-content {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .p_text {
        font-size:0px;
    }
     .img-responsive1 {
        width: 100%;
    }
}

.carousel-inner img {
    width: 100%; /* Set width to 100% */
    min-height: 200px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
    .carousel-caption {
        display: none;
    }
}

.form-group{
    font-size:12px; 
    display:block;
}

.row{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 8%;
}

.thumbnail{
    border: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 40px;
    margin-right: 0px;
   
}

.img-responsive0{
    max-width: 50%;
    max-height: 50%;
    height: auto;
    display:block;
}

.img-responsive1 {
    padding: 0 6px;
    float: left;

}

.img-responsive2{
    max-width: 100%;
    max-height: 100%;
    height: auto;
    display:block;
}

.col-sm-12-image{
	margin: center;
}

.col-sm-4{
    margin-right: 32%;
    margin-left: 32%;
}

#contact{
    margin-top: 50px;
    background: #244b6b;
}

#customers{
    background: #eaeef1;
}

#product_h2{
    color: #244b6b; 
}

#contact_h2{
    color: white;
}

#customers_h2{
    color: #244b6b; 
}

.container.text-center{
    
    padding: 0;
    padding-right: 0px;
}

.form-control{
    border-radius: 0px;
}

.btn{
    border:0px;
    border-radius: 0px;
    background-color: #d1585d;
    color:aliceblue;
    font-size: 40%;
}

.a{
    border-radius: 0px;
}

div.img img {
    width: 100%;
    height: auto;
}

/*
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
*/

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    height: 150px;
    width: 180px;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 200px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(256,256,256); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 50%;
    max-width: 300px;
}

/* Caption of Modal Image */
#caption1 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    font-size: 20px;
    color: white;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: white;
    font-size: 60px;
    font-weight: bold;
    transition: 0.1s;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
