@media screen and (max-width:2000px) {
    body {
        font-size:20px;
    }
}

@media screen and (max-width:1500px) {
   body {
        font-size:18px;
    }
}

@media screen and (max-width:1000px) {
   body {
        font-size:16px;
    }
}

@media screen and (max-width: 568px) {
    body {
        font-size:12px;
    }
}

html, body  {
  direction: rtl;
  font-family: 'Arimo', arial;
  margin:0px;
  padding:0px;
}

.navbar-inverse {
    background-color: #f8dddd;
    border-color: #080808;
    
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 0;
}

.navbar-brand {
    float: right;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

img {
    vertical-align: text-top;
    margin: 0;
    padding: 0;
}

.imgt {
    width: 50px;
    height: 50px;
/*    vertical-align: text-top;*/
    margin: 0;
    padding: 0;
}

.img-responsive{
    max-width: 30%;
    max-height: 30%;
    margin: 0;
    height: auto;
    display:block;
    margin-right: 0;
}

.col-sm-offset-3{
    float: right;
    width: 50%;
}

label{
    float: right;
}

.col-md-9{
    padding: 0;
}

#myInput {
    background-image: url('/../../search.gif');
    background-position: 10px 12px; 
    background-repeat: no-repeat; 
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px; 
    border: 1px solid #ddd; 
    margin-bottom: 12px;  
}
