<link rel="stylesheet" href="../../css/coursesStyle.css" >

<div class="container text-center">
    <div class="row">
        <div class="col-md-12_courses">
            <p class="courses">קורס עזרה ראשונה 28 שעות</p>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <br><br><br>
            <p class="title"><u>מטרת הקורס:</u> רכישת ידע בסיסי בעזרה ראשונה עד להגעת דרג רפואי בכיר. <br/>מסוגלות להגיש עזרה ראשונה, לבצע סעד חיים בסיסי וטיפול במצבי חירום וטראומה באופן בסיסי.</p>
            <br>
            <p class="p_text">אוכלוסיית יעד: מאמני ומדריכי ספורט</p>
            <p class="p_text">משך הקורס: 28 שעות- 3-4 ימים.</p>
            <p class="p_text"><u>נושאים נלמדים:</u></p>
            <p class="p_text">אנטומיה של מחזור הדם, מערכת העצבים ומחזור הנשימה.</p>
            <p class="p_text">אנטומיה של מערכת התנועה: הכרת השלד וקיבוע שברים מיוחדים.</p>
            <p class="p_text">התקפי הלם, חוסר הכרה ומצבי הלם לסוגיו.</p>
            <p class="p_text">החייאה, החייאת זוגות והחייאה עם מכשיר.</p> 
            <p class="p_text">חילוץ נפגעים: קיבוע ללוח גב, כולל צווארון פילדלפיה. כללי בטיחות בהרמה ונשיאת נפגעים.</p>
            <p class="p_text">פגיעות חזה, בטן, מעיכה והדף ופגיעות מבע"ח.</p>  
            <p class="p_text">מדידת לחץ דם עיוני ומעשי, מדידת דופק ונשימה.</p>	
            <br><br>
        </div>
        <div class="col-md-2"></div>
        <br><br>
    </div>
</div>