<link rel="stylesheet" href="../../css/coursesStyle.css" >

<div class="container text-center">
    <div class="row">
        <div class="col-md-12_courses">
            <p class="courses">קורס עזרה ראשונה 44 שעות</p>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <br><br><br>
            <p class="title"><u>מטרת הקורס:</u> קורס עזרה ראשונה מקיף המקנה מיומנות עזרה ראשונה בכל המחלות והפציעות בהן עלולים להיתקל.<br>הקורס מהווה הסמכה למגיש עזרה ראשונה (מע"ר).</p>
            <br>
            <p class="p_text">אוכלוסיית יעד: מותאם לכלל האוכלוסייה, אין צורך בידע רפואי קודם.</p>
            <p class="p_text"> מספר חניכים: עד 25.</p>
            <p class="p_text"> משך הקורס: 5 מפגשים של 8.5 שעות כל אחד.</p>
            <p class="p_text"><u>נושאים נלמדים:</u></p>
            <p class="p_text">שיעור מבוא לטראומה וא-טראומה.</p>
            <p class="p_text">שיעור מבוא לחוסר הכרה.</p>
            <p class="p_text">החייאה: החייאה ע"י אדם אחד או שניים, החייאת ילדים ותינוקות.</p>
            <p class="p_text">מצבי חירום רפואיים: עילפון, אפילפסיה, סוכרת, אסטמה, אוטם שריר הלב, היפר ונטילציה, הרעלות, טביעה.</p>
            <p class="p_text">שטפי דם: סוגים, סימנים, סכנות וטכניקות לעצירה (לחץ ישיר/ לחץ עקיף , סוגי תחבושות ושיטות אלתור).</p>
            <p class="p_text">פצעים- מבוא: מבנה רקמות העור. סוגי פצעים , סימנים, סכנות ומגמות טיפול. הדגמת חבישות שונות ותרגולם.</p>
            <p class="p_text">כוויות: קביעת חומרת הכוויה ע"פ קריטריונים של עומק, שטח ומיקום, סימנים, סכנות, מגמות טיפול, אמצעי חבישה, טיפול בכוויות, כוויות שונות- קור, חשמל, זפת.</p>
            <p class="p_text">שברים: מבנה השלד ותפקידיו. סוגי פגיעות ברקמה הקשה (נקע, פריקה, שבר) והטיפול בהם.</p>
            <p class="p_text">טיפול בפצוע בודד: פגיעות ראש, חזה, בטן, אגן, עמוד שדרה, הדף, הלם.</p>
            <p class="p_text">טיפול באירוע רב-נפגעים.</p>
            <p class="p_text">פגיעות בעלי חיים: כלבת, עקיצת דבורה, עקיצת עקרב, הכשת נחש.</p>
            <p class="p_text">מחלות זיהומיות: איידס, צהבת, שחפת.</p>
            <br><br>
        </div>
        <div class="col-md-2"></div>
        <br><br>
    </div>
</div>