<link rel="stylesheet" href="../../css/coursesStyle.css" >

<div class="container text-center">
    <div class="row">
        <div class="col-md-12_courses">
            <p class="courses">קורס מע"ר בפעוטות- 4 שעות</p>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <br><br><br>
            <p class="title"><u>מטרת הקורס:</u> קורס רענון עזרה ראשונה בסיסי המקנה מיומנות החייאה וטיפול בילדים/פעוטות.</p>
            <br>
            <p class="p_text">אוכלוסיית יעד: כללי/ גננות/ מטפלות.</p>
            <p class="p_text">מספר חניכים: עד 25.</p>
            <p class="p_text">משך הקורס: מפגש יחיד בן 4 שעות.</p>
            <p class="p_text"><u>נושאים נלמדים:</u></p>
            <p class="p_text">החייאה בילדים ותינוקות, כולל תרגול על בובות החייאה בגדלים שונים.</p>
            <p class="p_text">מצבי חירום: בליעת גוף זר, פרכוסי חום, הרעלות.</p>
            <p class="p_text">מחלות שכיחות: אסטמה, סכרת ואפילפסיה (הסבר קצר).</p>
            <p class="p_text">כוויות, חבלות ראש.</p>
            <p class="p_text">התמקדות על תרגול ע"י המשתתפים.</p>
            <br><br>
        </div>
        <div class="col-md-2"></div>
        <br><br>
    </div>
</div>