<link rel="stylesheet" href="../../css/coursesStyle.css" >

<div class="container text-center">
    <div class="row">
        <div class="col-md-12_courses">
            <p class="courses">קורס עזרה ראשונה 4 שעות</p>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <br><br><br>
            <p class="title"><u>מטרת הקורס:</u> קורס רענון עזרה ראשונה בסיסי המקנה מיומנות החייאה וטיפול במבוגר</p>
            <br>
            <p class="p_text">אוכלוסיית יעד: מותאם לכלל האוכלוסייה.</p>
            <p class="p_text">מספר חניכים: עד 25.</p>
            <p class="p_text"><u>נושאים נלמדים:</u></p>
            <p class="p_text">שיעור מבוא לחוסר הכרה.</p>
            <p class="p_text">החייאה בסיסית (מבוגר).</p>
            <p class="p_text">תרגול החייאה.</p>
            <p class="p_text">השתנקות- זיהוי וטיפול.</p>
            <p class="p_text">כוויות- הגדרת מצב וטיפול.</p>
            <br><br>
        </div>
        <div class="col-md-2"></div>
        <br><br>
    </div>
</div>