<link rel="stylesheet" href="../../css/aboutStyle.css" >

<div class="row">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-12_about">
                <p class="about">אודותינו</p>
            </div>

            <div class="col-md-12_info">
                <br><br>
                <p class="p_text">"הדרך להציל חיים" הינה חברת בת של "לביב המרכז להדרכות רפואה ועזרה ראשונה,"</p>
                <p class="p_text">שהינה מהוותיקות והמקצועיות בתחום הדרכות עזרה ראשונה בישראל.</p>
                <p class="p_text">במסגרת החברה מבוצעים קורסים רפואיים ברמות שונות, החל מקורסי החייאה בסיסיים ועד השתלמויות העשרה לרופאים ואחיות.</p>
                <br>
                <p class="p_text"><strong><u>ההדרכות:</u></strong></p>
                <p class="p_text">הדרכות המחלקה מתבצעות תחת פיקוח מקצועי הכולל רופאים מתחום הרפואה הדחופה, פארמדיקים מקצועיים ומדריכי רפואה דחופה בכירים.</p>
                <p class="p_text">ההדרכות מותאמות לנהלים, ולתוכניות הקורס המקובלות במד"א ובהתאם לפרוטוקולים הרפואיים העדכניים של American Heart Association.</p>
                <br>
                <p class="p_text"><strong><u>המדריכים:</u></strong></p>
                <p class="p_text">מדריכי המחלקה הינם בוגרי בית הספר לרפואה צבאית/מד"א/ AHA שהוכשרו כל אחד ברמתו- כמדריכי חובשים, רופאים ופרמדיקים.</p>
                <p class="p_text">כל המדריכים הינם בעלי ניסיון עשיר ורב בתחום הרפואה הדחופה, ובעלי נגישות לאוכלוסייה מגוונת בפריסה ארצית.</p>
                <p class="p_text">צוות המדריכים מבצע השתלמויות מעשיות ועיוניות בחידושים ועדכונים בפרוטוקולים הרפואיים בתחום רפואת החירום בהתאם לנהלים.</p>
                <br>
                <p class="p_text">כמו כן החברה הינה מהמובילות בתחום ציוד עזרה ראשונה חילוץ וטראומה.</p>
                <p class="p_text">החברה מספקת שירותי בניית מרפאות שדה ומרפאות קבע,ציווד אמבולנסים וחדרי טיפולים במוסדות רפואיים.</p>
                <p class="p_text">לחברה ערכות עזרה ראשונה לפי תקנים של משרד החינוך, משרד העבודה, משרד התחבורה ועוד...</p>
                <br>
                <p class="p_text">בנוסף מציעה החברה מגוון פתרונות לציוד חילוץ והצלה.</p>
                <br>
                <p class="p_text">לחברה מנהל רפואי קבוע המורכב ממס' מומחים בתחומם, רופאים, פארמדיקים ואחיות.</p>
                <p class="p_text">מחלקות החברה עומדות בפיקוח ומאושרות ע"י מרבית הגופים הממשלתיים תחת תקנים מחמירים ביותר.</p>
                <br>
            </div>

            <div class="col-md-6_link">
                <a href="../../profile.pdf" ><button class="pdf_link">> להורדת הפרופיל המלא(PDF) <</button></a>
            </div>
        </div>
    </div>
</div>