<link rel="stylesheet" href="../../css/contactStyle.css" >

<div class="container text-center">
    <div class="row">
        <div class="col-md-12_contact">
            <p class="contact">צור קשר</p>
        </div>
    </div>
    <div class="container">
        <br><br>
        <div class="row">
            <div class="col-md-4">
                <form>
                    <legend>
                            <p><strong>יוסי עמר</strong>
                                <br>הדרך להציל חיים
                            </p>
                    </legend>
                    <address>
                        <p>אהבת ישראל 44
                            <br>תל ציון מ. 9062200
                            <br>052-7766660
                        </p>
                        <a href="mailto:#">yosiamarya@gmail.com</a>
                    </address>
                </form>
            </div>
            <div class="col-md-8">
                <div class="well well-sm">
                     <form action="/sendContact" method="POST" onsubmit="return check(this);">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="subject">נושא</label>
                                    <select id="subject" name="subject" class="form-control">
                                        <option value="chosse" selected="">בחר:</option>
                                        <option value="medical product">ציוד רפואי</option>
                                        <option value="courses & training">קורסים והדרכות</option>
                                        <option value="firefighting equipment">ציוד כיבוי אש</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="name">הודעה</label>
                                    <textarea class="form-control" name="message" id="message" rows="9" cols="25" placeholder="תוכן ההודעה" required="required"></textarea>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">שם</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                        <input type="text" class="form-control" name="name" id="name" placeholder="הכנס שם" pattern="[^0-9]+" title="אותיות בלבד" maxlength="20" required="required" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="text">שם ארגון</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-globe"></span></span>
                                        <input type="text" class="form-control" name="organization_name" id="organization_name" placeholder="הכנס שם ארגון- לא חובה" maxlength="20" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="phone">פלאפון</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-phone"></span></span>
                                        <input type="text" class="form-control" name="phone" id="phone" placeholder="הכנס מספר פלאפון" pattern="05\d{1}[\-]\d{7}" required="required" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="email">כתובת מייל</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                                        <input type="email" class="form-control" name="email" id="email" placeholder="הכנס כתובת מייל" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required="required" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary pull-left" id="btnContactUs">שלח פניה</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container text-center">
    <br><br>
    <div class="row">
        <legend><h2><strong>בין לקוחותינו:</strong></h2></legend>
        <br>
        <div class="col-sm-12-image">
            <img src="../../our_customers.jpg" class="img-responsive2" alt="our customers">
        </div>
    </div>
    <br><br>
</div>

<script src="../../js/contact.js"></script>
