<link rel="stylesheet" href="../../../coursesStyle.css" >

<div class="container text-center">
    <div class="row">

        <div class="col-md-12_courses">
            <p class="courses">קורסים והדרכות</p>
        </div>

        <div class="col-md-6">
            <br><br><br>
            <p class="title">קורסים לקהל הרחב</p>
            <p class="p_text">- קורס החייאה 4 שעות.</p>
            <p class="p_text"> - קורס ע"ר בסיסי 8 שעות.</p>
            <p class="p_text"> - קורס מע"ר 22 שעות.</p>
            <p class="p_text">- קורס עזרה ראשונה 28 שעות.</p>
            <p class="p_text">- קורס מע"ר 44 שעות – מוכר לגמול השתלמות!!!</p>
            <p class="p_text"> - קורס מע"ר מתקדם 60 שעות.</p>
            <p class="p_text"> - קורס מע"ר בכיר 88 שעות.</p>
            <p class="p_text">- קורס חובשי רפואת חירום/נהגי אמבולנס.</p>
            <p class="p_text"> - קורסי ריענון עזרה ראשונה.</p>
            <p class="p_text">   - קורס מתוקשב (אינטרנטי/מעשי)</p>
            <p class="p_text">לקורסי 22 שעות ומעלה.</p>
            <br><br>
        </div>

        <div class="col-md-6_num2">
            <br><br><br>
            <p class="title" >קורסים לצוותים רפואיים</p>
            <p class="p_text"> - קורס ACLS</p>
            <p class="p_text"> - קורס PALS  </p>
            <p class="p_text">  - קורס חובשים בכירים.</p>
            <p class="p_text">- קורס הכרת ופענוח א.ק.ג.</p>
            <p class="p_text">- השלמת הכשרה אזרחית לחובשי צה"ל.</p>
            <p class="p_text"> - ריענון לחובשים/נהגי אמבולנס.</p>
            <p class="p_text"> - ימי תרגול בפרוצדורות שונות בסיעוד.</p>
            <p class="p_text">- קורס חובשי רפואת חירום/נהגי אמבולנס.</p>
            <p class="p_text">  - הכנת שינניות/רופאי שיניים לבחינת ממשלתית.</p>
            <p class="p_text">   - קורס מוכנות בזירות אסון:</p>
            <p class="p_text"> (אר"ן/חומ"ס/רעידות אדמה)</p>
        </div>
    </div>
</div>