<link rel="stylesheet" href="../../css/coursesStyle.css" >

<div class="container text-center">
    <div class="row">
        <div class="col-md-12_courses">
            <p class="courses">צוותי מרפאות חירום</p>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <br><br><br>
            <p class="title"><u>מטרת הקורס:</u> ריענון הנחיות/ פרוטוקולים במצבי חירום שונים ועדכון בנהלים חדשים היוצאים מעת לעת ומוטמעים במערכות החירום השונות בישראל.</p>
            <br>
            <p class="p_text">אוכלוסיית יעד: סגל רפואי במרפאות (רופאים/ אחיות/ פרמדיקים/ חובשים ועוד).</p>
            <p class="p_text">משך הקורס: מפגש יחיד בן 8 שעות.</p>
            <p class="p_text"><u>נושאים נלמדים:</u></p>
            <p class="p_text">פרוטוקול Cardiac Arrest.</p>
            <p class="p_text">פרוטוקול ACS.</p>
            <p class="p_text">בהתאם לאופי המקרים המטופלים במקום ולפי דרישת המזמין, ניתן לרענן פרוטוקולים נוספים: בצקת ריאות, חוסר הכרה, אנאפילקסיס, פרכוסים ועוד.</p>
            <p class="p_text">לאחר הלמידה העיונית יבוצעו תרגולי צוות.</p>
            <br><br>
        </div>
        <div class="col-md-2"></div>
        <br><br>
    </div>
</div>