<link rel="stylesheet" href="../../css/onlineCourseStyle.css" >


<div class="container text-center">
    <div class="col-md-12_all">
        <div class="row">
            <div class="col-md-12_onlineCourse">
                <p class="about">קורס מתוקשב</p>
            </div>

            <div class="col-md-12info">
                <br><br>
                <p class="p_text">קורס עזרה ראשונה מתוקשב משלב למידה עצמית ב"לומדה אינטרנטית",</p>
                <p class="p_text">כאשר בסיום החלק העיוני מתבצע מפגש מעשי אשר בו המדריך/ה מלמד/ת את הנושאים המעשיים כגון:</p>
                <p class="p_text">החייאה, חבישות וקיבועים על בובות/חניכים,</p>
                <p class="p_text">ולאחר מכן מבצעים תרגול מעשי עד ליישום והטמעה אצל החניך/ה.</p>
                <br>
                <p class="p_text"><u>יתרונות הקורס האינטרנטי הן רבות:</u></p>
                <p class="p_text"><strong>1.</strong> למידה בזמן ובמקום שנוח לך– כל שאתם צריכים זה חיבור אינטרנטי זמין למחשב.</p>
                <p class="p_text"><strong>2.</strong> חסכון בהוצאות נסיעה וימי לימודים/עבודה לצורך ביצוע קורס פרונטלי (3-5 ימי עבודה).</p>
                <p class="p_text"><strong>3.</strong> הטמעת המידע באופן ודאי– בכל פרק יש בוחן עצמי המאפשר שיפור וחזרה על השאלות עליהם התקשיתם לענות.</p>
                <p class="p_text"><strong>4.</strong> תמיכה מקצועית -אתם לא לבד, יש לכם שאלות? משהו לא ברור? יש למי לפנות טלפונית או במייל ולקבל תשובות והסברים נוספים במידת הצורך.</p>
                <br>
                <p class="p_text"><strong>למידע נוסף והרשמה ניתן לפנות בצור קשר ואנו נחזור אליכם, או טלפונית למשרד.</strong></p>
            </div>
        </div>
    </div>
</div>