<link rel="stylesheet" href="../../css/coursesStyle.css" >

<div class="container text-center">
    <div class="row">
        <div class="col-md-12_courses">
            <p class="courses">קורס חובשי רפואת חירום/ נהגי אמבולנס</p>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <br><br><br>
            <p class="title"><u>מטרת הקורס:</u> הכשרת חובשים אזרחיים/ נהגי אמבולנס.</p>
            <br>
            <p class="p_text">אוכלוסיית יעד: הקורס לחובשים מיועד לגילאי 18 ומעלה, ולנהגי אמבולנס 21 ומעלה.</p>
            <p class="p_text">תנאי קבלה: עמידה בכל תנאי הסף עפ"י דרישות משרד הבריאות.</p>
            <p class="p_text">תכנית הקורס הינה על פי חוזר משרד הבריאות להכשרת חובשים/ נהגי אמבולנס ומתנהלת באישורו ופיקוחו הצמוד של משרד הבריאות.</p>
            <p class="p_text"><u>מהלך הקורס:</u></p>
            <p class="p_text">במסגרת הקורס ילמדו תכנים נרחבים בתחום הרפואה דחופה זיהוי וטיפול במצבי חירום שונים החל ממחלות התקפיות ועד פציעות מכל הסוגים, הפעלת מכשור רפואי בחירום, החדרת עירוי, קבלת לידה ועוד מגוון טיפולים מתקדמים ברפואה דחופה.</p>
            <p class="p_text">לאחר השלב העיוני נדרשים המשתתפים לבצע 4 משמרות מעשיות על אמבולנסים וניידות טיפול נמרץ, ועוד 3 משמרות מעשיות בחדרי מיון בבתי חולים.</p>
            <p class="p_text">המעוניינים לקבל רישיון נהיגת אמבולנס ימשיכו ללימוד תיאורטי בנהיגת חירום בן 22 שעות ולאחר מכן יעברו טסט ע"י נציג משרד התחבורה.</p>
            <p class="p_text">למסיימים תוענק תעודת חובש רפואת חירום המוכרת על ידי משרד הבריאות.</p>
            <br><br>
        </div>
        <div class="col-md-2"></div>
        <br><br>
    </div>
</div>