<link rel="stylesheet" href="../../css/recommStyle.css" >

<div class="container text-center">
	<div class="row">
	    <div class="col-md-12_rec">
	        <p class="rec">המלצות</p>
	    </div>
	</div>
	<div class="row">
		<br><br>
	    <div class="col-sm-3">
	        <a href="../../rec1.jpg" class="thumbnail">
	          	<img src="../../rec1.jpg" class="img-responsive0" alt="Rec_Image1">
	        </a>
	    </div>
	    <div class="col-sm-3">
	        <a href="../../rec2.jpg" class="thumbnail">
	        	<img src="../../rec2.jpg" class="img-responsive0" alt="Rec_Image2">
	        </a>
	    </div>
	  	<div class="col-sm-3">
	       	<a href="../../rec3.jpg" class="thumbnail">
	        	<img src="../../rec3.jpg" class="img-responsive0" alt="Rec_Image3">
	        </a>
	  	</div>
	    <div class="col-sm-3">
	        <a href="../../rec4.jpg" class="thumbnail">
	            <img src="../../rec4.jpg" class="img-responsive0" alt="Rec_Image4">
	        </a>
	    </div> 
	</div>
 	<br><br>
</div>