doctype html
html
	head
		meta(charset='utf-8')
		title Recommendation Engine

		link(rel='stylesheet' href='//fonts.googleapis.com/css?family=Asap')
		link(rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.min.css')

		style(type='text/css').
			* {
				font-family: 'Asap';
			}

	body
		.container(style='margin-top: 16px;')
			.row
				.col-xs-12
					
						.row
							.col-xs-4.col-xs-offset-4
								h1 Hello, stranger!
								p this is the rcommendation algorithm for "The way -Yosi Amar" website.
								p for runing the algorithm.
								form(action='/update' method='get')
									button.btn.btn-primary Algorithm               
					